In [38]:
import pandas as pd

In [39]:
import os

# Get the current working directory
current_dir = os.getcwd()

# Get the parent directory
parent_dir = os.path.dirname(current_dir)

print("Parent Directory:", parent_dir)

Parent Directory: /gpfs/fs1/home/j/jparkin/wongkoji/PathwayCompleteness

In [40]:
# generate a pandas dataframe from our kraken2 report, delimited by tab ('\t')
k2_report_file = "/scratch/j/jparkin/wongkoji/outputs/kraken2/pm_mtx.kreport2"
kraken_out_file = "/scratch/j/jparkin/wongkoji/outputs/kraken2/pm_mtx_kraken.out"
fastq_file_path = "/scratch/j/jparkin/wongkoji/data/pm_merged.fq"

report_df = pd.read_csv(filepath_or_buffer=k2_report_file, 
                        sep='\t',
                        names=["%_clade", "#_clade_frags", "#_taxon_frags", "class", "ncbi_taxon_id", "name"])

# Added a header explaining each column of the data.

# %_clade: Percentage of fragments covered by the clade rooted at this taxon
# #_clade_frags: Number of fragments covered by the clade rooted at this taxon
# #_taxon_frags: Number of fragments assigned directly to this taxon
# class: A rank code indicating (U)nclassified, (R)oot, (D)omain, (K)ingdom, (P)hylum, (C)lass, (O)rder, (F)amily, (G)enus, (S)pecies.
# taxon_id: The Taxonomic ID number from NCBI
# name: scientific name of taxon

# print(report_df["class"].unique())

In [41]:
print(len(report_df[report_df['class'].isin(['S', 'S1', 'S2', 'S3', 'S4'])]))
# report_df['class']
lst = ['Pseudomonas chlororaphis subsp. piscium', 'Pseudomonas chlororaphis subsp. aurantiaca', 'Pseudomonas chlororaphis subsp. aureofaciens', 'Pseudomonas syringae pv. actinidiae']
for item in lst:
    if item in report_df['name']:
        print("Found")
    else:
        print(item)
'Pseudomonas sp. A2' in report_df['name']

622
Pseudomonas chlororaphis subsp. piscium
Pseudomonas chlororaphis subsp. aurantiaca
Pseudomonas chlororaphis subsp. aureofaciens
Pseudomonas syringae pv. actinidiae

False

In [42]:
report_df['class'].unique()

array(['U', 'R', 'R1', 'D', 'P', 'C', 'O', 'F', 'G', 'G1', 'S', 'S1',
       'S2', 'G2', 'S3', 'F1', 'O1', 'D1', 'D2', 'K', 'K1', 'K2', 'K3',
       'P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'C1', 'C2',
       'C3', 'C4', 'O2', 'O3', 'O4'], dtype=object)

In [43]:
# get only classified species who cover 0.05% of all fragments
def filter_kraken2(class_name):
    if class_name == "S":
        return "S"
    elif "S" in class_name:
        return "S"
    else:
        return class_name
# report_df = report_df[report_df['class'].isin(["S", "S1", "S2", "S3"])]
report_df = report_df[report_df['class'].isin(["S"])]

report_df = report_df[report_df['%_clade'] >= 0.05]

print("sum of clade_% fragments for classified species:", round(report_df["%_clade"].sum(),2))
print("number of species identified", len(report_df))
report_df.head(20)

sum of clade_% fragments for classified species: 67.99
number of species identified 21

,%_clade,#_clade_frags,#_taxon_frags,class,ncbi_taxon_id,name
10,4.42,52890,52881,S,47883,Pseudomonas synxantha
12,4.16,49840,49840,S,76760,Pseudomonas rhodesiae
13,4.16,49774,49774,S,76758,Pseudomonas orientalis
14,3.53,42291,42253,S,380021,Pseudomonas protegens
16,3.10,37118,36090,S,294,Pseudomonas fluorescens
26,0.08,939,939,S,1114970,Pseudomonas ogarae
49,16.23,194296,168457,S,587753,Pseudomonas chlororaphis
60,8.29,99227,62886,S,317,Pseudomonas syringae
117,2.65,31682,31682,S,78327,Pseudomonas mosselii
118,2.53,30338,29940,S,303,Pseudomonas putida
133,2.50,29927,29925,S,76759,Pseudomonas monteilii
144,3.39,40608,40608,S,53408,Pseudomonas citronellolis
145,1.39,16665,16513,S,287,Pseudomonas aeruginosa
182,4.26,51026,51026,S,321846,Pseudomonas simiae
183,3.05,36473,36473,S,2842346,Pseudomonas siliginis
184,2.80,33506,33506,S,2565368,Pseudomonas atacamensis
186,0.13,1577,1577,S,107445,Pseudomonas sp. A2
187,0.06,762,762,S,2895471,Pseudomonas sp. B21-010
406,0.72,8630,8589,S,930166,Pseudomonas brassicacearum
409,0.45,5345,5345,S,2219225,Pseudomonas asiatica

In [44]:
print("number of clade fragments for classified species:", round(report_df["#_clade_frags"].sum(),2))

number of clade fragments for classified species: 813991

In [45]:
report_df['name']

10                           Pseudomonas synxantha
12                           Pseudomonas rhodesiae
13                          Pseudomonas orientalis
14                           Pseudomonas protegens
16                         Pseudomonas fluorescens
26                              Pseudomonas ogarae
49                        Pseudomonas chlororaphis
60                            Pseudomonas syringae
117                           Pseudomonas mosselii
118                             Pseudomonas putida
133                          Pseudomonas monteilii
144                      Pseudomonas citronellolis
145                         Pseudomonas aeruginosa
182                             Pseudomonas simiae
183                          Pseudomonas siliginis
184                        Pseudomonas atacamensis
186                             Pseudomonas sp. A2
187                        Pseudomonas sp. B21-010
406                     Pseudomonas brassicacearum
409                           Pseudomonas asiatica
410                            Pseudomonas zarinae
Name: name, dtype: object

In [46]:
#TODO: extract k-mer count information corresponding to data in stdout in kraken.out
k2_output = pd.read_csv(filepath_or_buffer=kraken_out_file, 
                        sep='\t',
                        names=["is_classified", "seq_id", "taxon_id", "bp_length", "LCA_mapping"])

In [47]:
k2_output.head()
print("num reads:", len(k2_output))

num reads: 1197492

In [48]:
# Keep only reads that are in filtered classes in report_df
k2_output_filt = k2_output[k2_output["taxon_id"].isin(report_df['ncbi_taxon_id'])]
k2_output_filt = k2_output_filt[k2_output_filt["taxon_id"] != 0]
print("num reads:", len(k2_output_filt))
k2_output_filt.head()

num reads: 750143

,is_classified,seq_id,taxon_id,bp_length,LCA_mapping
0,C,lcl|NZ_CP010896.1_cds_WP_010207718.1_1-2/1,321846,199,286:10 321846:10 286:1 321846:26 286:5 321846:...
1,C,lcl|NZ_CP010896.1_cds_WP_010207718.1_1-4/1,321846,201,321846:67 2:5 321846:20 286:1 321846:5 286:69
2,C,lcl|NZ_CP010896.1_cds_WP_010207719.1_2-4/1,321846,216,321846:6 1224:5 286:29 321846:5 286:9 321846:5...
3,C,lcl|NZ_CP010896.1_cds_WP_010207719.1_2-2/1,321846,207,321846:3 286:7 1236:1 135621:2 286:2 2:5 286:3...
4,C,lcl|NZ_CP010896.1_cds_WP_021491432.1_3-2/1,321846,187,286:39 321846:3 286:4 321846:5 286:9 321846:3 ...

In [49]:
# And can create a map of taxon_id to seq_ids
seq_by_taxon = k2_output_filt.groupby("taxon_id")['seq_id'].apply(list).to_dict()
# number of taxon ids in our dataset
len(seq_by_taxon.keys())

21

In [50]:
# List all the taxon ids
print("Taxon ID:", list(seq_by_taxon.keys()))

# List the first five sequence ids by taxon 321846
print("Taxon 321846 Sequence IDs:", seq_by_taxon[321846][0:5])

# Get the number of taxons with ID 321846 in the list
print("# Sequences in taxon 321846:", len(seq_by_taxon[321846]))

Taxon ID: [287, 294, 303, 317, 47883, 53408, 76758, 76759, 76760, 78327, 107445, 321846, 380021, 587753, 930166, 1114970, 2219225, 2565368, 2745498, 2842346, 2895471]
Taxon 321846 Sequence IDs: ['lcl|NZ_CP010896.1_cds_WP_010207718.1_1-2/1', 'lcl|NZ_CP010896.1_cds_WP_010207718.1_1-4/1', 'lcl|NZ_CP010896.1_cds_WP_010207719.1_2-4/1', 'lcl|NZ_CP010896.1_cds_WP_010207719.1_2-2/1', 'lcl|NZ_CP010896.1_cds_WP_021491432.1_3-2/1']
# Sequences in taxon 321846: 51026

In [51]:
# import regex to extract our k-mer count information
import re

# This block is for testing out how to get the kmer-counts in a sequence
index = 0
id = k2_output["taxon_id"][index]
print("Assigned ID:", id)
lca_mapping = k2_output["LCA_mapping"][index]
mappings = lca_mapping.split()
print("Mappings:", mappings)
total = 0
match_total = 0
# loop over LCA mappings for this particular sequence
for mapping in mappings:
    query = fr'([0-9]*):([0-9]*)'
    match = re.match(query, mapping) # use regex match to find query mapping
    q_id = match.group(1)
    kmer_count = int(match.group(2))
    # we want to calculate the confidence score this assignment to the taxon_id
    print(f"k-mer count for taxon {q_id}:", kmer_count)
    if int(id) == int(q_id):
        total += kmer_count
        match_total += kmer_count
    else:
        total += kmer_count
score = match_total/total
print("Score:", score)

Assigned ID: 321846
Mappings: ['286:10', '321846:10', '286:1', '321846:26', '286:5', '321846:4', '286:44', '135621:13', '286:24', '1236:3', '286:5', '1236:11', '321846:9']
k-mer count for taxon 286: 10
k-mer count for taxon 321846: 10
k-mer count for taxon 286: 1
k-mer count for taxon 321846: 26
k-mer count for taxon 286: 5
k-mer count for taxon 321846: 4
k-mer count for taxon 286: 44
k-mer count for taxon 135621: 13
k-mer count for taxon 286: 24
k-mer count for taxon 1236: 3
k-mer count for taxon 286: 5
k-mer count for taxon 1236: 11
k-mer count for taxon 321846: 9
Score: 0.296969696969697

In [52]:
import re

# function to calculate k2 assignment score
def calculate_score(df, index: int) -> float:
    """
    Calculates the confidence score of taxonomic assignment to a sequence by
    dividing the number of k-mers mapped to a taxon by the total number of 
    k-mers from that sequence.

    Args:
        index (int): an index into the kraken2 output DataFrame, where each 
            index corresponds to a sequence
    """
    tax_id = df["taxon_id"][index]
    seq_id = k2_output["seq_id"][index]
    print("Assigned ID:", tax_id)
    lca_mapping = df["LCA_mapping"][index]
    mappings = lca_mapping.split()
    print("Mappings:", mappings)
    total = 0
    match_total = 0
    # loop over LCA mappings for this particular sequence
    for mapping in mappings:
        query = fr'([0-9]*):([0-9]*)'
        match = re.match(query, mapping) # use regex match to find query mapping
        q_id = match.group(1)
        kmer_count = int(match.group(2))
        # we want to calculate the confidence score this assignment to the taxon_id
        if int(tax_id) == int(q_id):
            total += kmer_count
            match_total += kmer_count
        else:
            total += kmer_count
    score = match_total/total
    print(f"Score for sequence {seq_id} assigned to taxon {tax_id}:", score)
    return score

In [53]:
# Now we can use this function to calculate the score from any index
calculate_score(k2_output, 1)
calculate_score(k2_output, 15)

Assigned ID: 321846
Mappings: ['321846:67', '2:5', '321846:20', '286:1', '321846:5', '286:69']
Score for sequence lcl|NZ_CP010896.1_cds_WP_010207718.1_1-4/1 assigned to taxon 321846: 0.5508982035928144
Assigned ID: 321846
Mappings: ['286:48', '321846:11', '286:1', '321846:17', '286:36', '135621:2', '286:4', '1224:5', '286:2', '2:5', '1224:2', '286:2', '1236:2', '286:2', '1224:3', '1236:5', '286:19']
Score for sequence lcl|NZ_CP010896.1_cds_WP_021491428.1_9-2/1 assigned to taxon 321846: 0.1686746987951807

0.1686746987951807

In [54]:
import pandas as pd
from Bio import SeqIO

def fasta_to_dataframe(fasta_file):
    data = {
        'seq_id': [],
        'sequence': [],
        'bp_length': []
    }

    for record in SeqIO.parse(fasta_file, "fasta"):
        data['seq_id'].append(record.id)
        data['sequence'].append(str(record.seq))
        data['bp_length'].append(len(record.seq))

    df = pd.DataFrame(data)
    return df

# fasta_file_path = "/home/j/jparkin/wongkoji/data/merged_paired_mtx.fasta"
# fasta_df = fasta_to_dataframe(fasta_file_path)

# Display the fasta df
# print(fasta_df)

In [55]:
import pandas as pd
from Bio import SeqIO

def fastq_to_dataframe(fastq_file):
    data = {
        'seq_id': [],
        'sequence': [],
        'bp_length': []
    }

    for record in SeqIO.parse(fastq_file, "fastq"):
        data['seq_id'].append(record.id)
        data['sequence'].append(str(record.seq))
        data['bp_length'].append(len(record.seq))

    df = pd.DataFrame(data)
    return df

fasta_df = fastq_to_dataframe(fastq_file_path)

# Display the fasta df
fasta_df.head()

,seq_id,sequence,bp_length
0,lcl|NZ_CP010896.1_cds_WP_010207718.1_1-2/1,GAGAATGAAGAGCCGTCCCGCGACAGCTTTGATCCGATGGCAGGCG...,199
1,lcl|NZ_CP010896.1_cds_WP_010207718.1_1-4/1,AGACGACTTGGAGGGCGCAGGAGCAGGAGACGGCGCACTGACAGCC...,201
2,lcl|NZ_CP010896.1_cds_WP_010207719.1_2-4/1,TGTGCTCTATGCGCGCCGATATCGGTCAGCCGGACCGTCACCAGGT...,216
3,lcl|NZ_CP010896.1_cds_WP_010207719.1_2-2/1,CTTGCCATCAACCAGCTTGGAGGTGAAGGTGAACTCGCCGGTGGTC...,207
4,lcl|NZ_CP010896.1_cds_WP_021491432.1_3-2/1,CCCGTCAATGCGAATCTGGAACTCTCCGCCGCGATCACGGGATATC...,187

In [56]:
fasta_df["seq_id"]

0             lcl|NZ_CP010896.1_cds_WP_010207718.1_1-2/1
1             lcl|NZ_CP010896.1_cds_WP_010207718.1_1-4/1
2             lcl|NZ_CP010896.1_cds_WP_010207719.1_2-4/1
3             lcl|NZ_CP010896.1_cds_WP_010207719.1_2-2/1
4             lcl|NZ_CP010896.1_cds_WP_021491432.1_3-2/1
                               ...
1197487    lcl|NZ_CP115258.1_cds_WP_128447624.1_5908-2/1
1197488    lcl|NZ_CP115258.1_cds_WP_023089992.1_5909-4/1
1197489    lcl|NZ_CP115258.1_cds_WP_023089992.1_5909-2/1
1197490    lcl|NZ_CP115258.1_cds_WP_022581007.1_5910-4/1
1197491    lcl|NZ_CP115258.1_cds_WP_022581007.1_5910-2/1
Name: seq_id, Length: 1197492, dtype: object

In [57]:
a = seq_by_taxon[321846]
sequences_taxon_321846 = fasta_df[fasta_df["seq_id"].isin(a)]

In [58]:
print(sequences_taxon_321846[0:5])

                                       seq_id  \
0  lcl|NZ_CP010896.1_cds_WP_010207718.1_1-2/1
1  lcl|NZ_CP010896.1_cds_WP_010207718.1_1-4/1
2  lcl|NZ_CP010896.1_cds_WP_010207719.1_2-4/1
3  lcl|NZ_CP010896.1_cds_WP_010207719.1_2-2/1
4  lcl|NZ_CP010896.1_cds_WP_021491432.1_3-2/1

                                            sequence  bp_length
0  GAGAATGAAGAGCCGTCCCGCGACAGCTTTGATCCGATGGCAGGCG...        199
1  AGACGACTTGGAGGGCGCAGGAGCAGGAGACGGCGCACTGACAGCC...        201
2  TGTGCTCTATGCGCGCCGATATCGGTCAGCCGGACCGTCACCAGGT...        216
3  CTTGCCATCAACCAGCTTGGAGGTGAAGGTGAACTCGCCGGTGGTC...        207
4  CCCGTCAATGCGAATCTGGAACTCTCCGCCGCGATCACGGGATATC...        187

In [59]:
print(f"There are {len(sequences_taxon_321846)} sequences binned in taxon 321846")

There are 51026 sequences binned in taxon 321846

In [60]:
# id_to_seq_map = {}
# for tax_id in list(seq_by_taxon.keys()):
#     print(tax_id)
#     seq_ids = seq_by_taxon[tax_id]
#     id_to_seq_map[tax_id] = fasta_df[fasta_df["seq_id"].isin(seq_ids)]

# need to find a more efficient way

In [61]:
fasta_df = fasta_df[fasta_df["seq_id"].isin(k2_output_filt["seq_id"])]
merged_df = pd.merge(fasta_df, k2_output[['seq_id', 'taxon_id', "LCA_mapping"]], on='seq_id', how='left')

In [62]:
merged_df.dropna(inplace=True)
# Remove unclassified (taxon 0) reads
merged_df = merged_df[merged_df["taxon_id"] != 0]
print("number of taxons:", len(merged_df['taxon_id'].unique()))
print("number of reads:", len(merged_df))

number of taxons: 21
number of reads: 750143

In [63]:
k2_output_filt["taxon_id"]

0          321846
1          321846
2          321846
3          321846
4          321846
            ...
1197487       287
1197488       287
1197489       287
1197490       287
1197491       287
Name: taxon_id, Length: 750143, dtype: int64

In [64]:
# Check for discrepancies
# discrepancies = merged_df[merged_df['taxon_id'] != pd.Series(k2_output_filt['taxon_id'])]

# # If there are no discrepancies, discrepancies dataframe will be empty
# if discrepancies.empty:
#     print("All taxon_ids were added correctly.")
# else:
#     print("Discrepancies found:")
#     print(discrepancies)

In [65]:
# Now that we have a DataFrame containing the sequence_ids, sequences, and taxon_ids, we can perform EC analysis with DeepEC
# First, let's create a fasta file containing all the seq_ids and sequences corresponding to a taxon

# Example taxon_id to filter
target_taxon_id = 321846

# Filter rows in merged_df based on the target_taxon_id
filtered_df = merged_df[merged_df['taxon_id'] == target_taxon_id]

# Extract seq_ids and sequences
seq_ids = filtered_df['seq_id'].tolist()
sequences = filtered_df['sequence'].tolist()

# Writing to a FASTA file
fasta_file = '/home/j/jparkin/wongkoji/data/taxon_321846_reads.fasta'

with open(fasta_file, 'w') as fasta_file:
    for seq_id, sequence in zip(seq_ids, sequences):
        fasta_file.write(f">{seq_id}\n{sequence}\n")

In [66]:
merged_df["taxon_id"].unique()

array([ 321846, 1114970,     294,   47883,   76760,     317,   53408,
       2895471,  930166,  587753,  380021, 2745498,     303,     287,
         76758, 2842346,   78327,   76759, 2565368,  107445, 2219225])

In [67]:
# Now that we have a DataFrame containing the sequence_ids, sequences, and taxon_ids, we can perform EC analysis with DeepEC
# First, let's create a fasta file containing all the seq_ids and sequences corresponding to a taxon

all_taxa = merged_df["taxon_id"].unique()
# Example taxon_id to filter
target_taxon_id = 321846

# Filter rows in merged_df based on the target_taxon_id
filtered_df = merged_df[merged_df['taxon_id'] == target_taxon_id]

# Extract seq_ids and sequences
seq_ids = filtered_df['seq_id'].tolist()
sequences = filtered_df['sequence'].tolist()

# Writing to a FASTA file
fasta_file = '/home/j/jparkin/wongkoji/data/taxon_321846_reads.fasta'

with open(fasta_file, 'w') as fasta_file:
    for seq_id, sequence in zip(seq_ids, sequences):
        fasta_file.write(f">{seq_id}\n{sequence}\n")

In [68]:
from Bio import SeqIO
import pandas as pd

# Step 1: Read FASTQ file and create DataFrame
def fastq_to_df(fastq_file):
    records = SeqIO.parse(fastq_file, "fastq")
    data = [(record.id, str(record.seq), record.letter_annotations["phred_quality"]) for record in records]
    df = pd.DataFrame(data, columns=["Sequence_ID", "Sequence", "Quality_Scores"])
    return df

# Step 2: Filter DataFrame based on taxon sequence IDs
def filter_sequences(df, taxon_sequence_ids):
    filtered_df = df[df['Sequence_ID'].isin(taxon_sequence_ids)]
    return filtered_df

# Step 3: Write filtered sequences to a new FASTQ file
def write_filtered_fastq(filtered_df, output_file):
    with open(output_file, "w") as f:
        for index, row in filtered_df.iterrows():
            f.write(f"@{row['Sequence_ID']}\n")
            f.write(f"{row['Sequence']}\n+\n{''.join(map(chr, pd.Series(row['Quality_Scores']) + 33))}\n")

# # Example usage
taxon = target_taxon_id
# fastq_file = fastq_file_path
# output_file = f"/home/j/jparkin/wongkoji/data/{taxon}.fastq"
# # Filter rows in merged_df based on the target_taxon_id
# filtered_df = merged_df[merged_df['taxon_id'] == taxon]
# taxon_sequence_ids = filtered_df['seq_id'] # Example list of sequence IDs for a specific taxon

# # Step 1: Read FASTQ file and create DataFrame
# df = fastq_to_df(fastq_file)

# # Step 2: Filter DataFrame based on taxon sequence IDs
# filtered_df = filter_sequences(df, taxon_sequence_ids)

# # Step 3: Write filtered sequences to a new FASTQ file
# write_filtered_fastq(filtered_df, output_file)

In [69]:
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

def translate_without_internal_stops(seq):
    stop_present = False
    translated_seq = seq.translate()
    if '*' in translated_seq:
        return None
    return str(translated_seq)

def main(input_file, output_file):
    valid_records = []
    with open(input_file, 'r') as f:
        records = SeqIO.parse(f, 'fasta')
        for record in records:
            translated_seq = translate_without_internal_stops(record.seq)
            if translated_seq:
                protein_record = SeqRecord(Seq(translated_seq), id=record.id, description="")
                valid_records.append(protein_record)

    with open(output_file, 'w') as f:
        SeqIO.write(valid_records, f, 'fasta')

input_file = f'/home/j/jparkin/wongkoji/data/taxon_{taxon}_reads.fasta'
output_file = f'/home/j/jparkin/wongkoji/data/taxon_{taxon}_reads_translated.fasta'
main(input_file, output_file)

/scratch/j/jparkin/wongkoji/miniconda3/envs/testenv/lib/python3.12/site-packages/Bio/Seq.py:2880: BiopythonWarning: Partial codon, len(sequence) not a multiple of three. Explicitly trim the sequence or add trailing N before translation. This may become an error in future.
  warnings.warn(